body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #B53340;
    padding: 10px;
    color: #fff;
    display: flex;
    align-items: center;
}

footer{
    background-color: #B53340;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center; 
}



footer h2{
    color: #fff;
}

#Logo-DomHelder {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

h1 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

#input-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100px;
    margin-right: 10px;
    padding: 8px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #83252e;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #83252e;
}

#resultado {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#resultado-text-container {
    background-color: #B53340;
    padding: 1px;
    border-radius: 5px;
    color: #fff;
    font-style: bold;
}

#resultado-text {
    margin-left: 20px; 
    color: #fff;
}

canvas {
    margin-top: 20px;
    border: 1px solid #ccc;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
  }
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}